* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #000000;
    color: white;
    font-size: 24px;
    padding: 40px 0;
    padding-left: 22%;
    display: flex;
    justify-content: space-between;
}

header .logo {
    width: 150px;
    margin-left: 20px;
}

header nav ul {
    list-style-type: none;
    display: flex;
    gap: 100px;
    margin-right: 20px;
    margin-top: 0%;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding-top: 20px ;
}

header nav ul li a:hover {
    text-decoration: underline;
}

.info, .benefits, .contact {
    padding: 20px;
    background-color: #fff;
    margin: 20px auto;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.info h2, .benefits h2, .contact h2 {
    margin-bottom: 10px;
}

.info .imagem-coleta, .benefits .imagem-beneficios {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 15px;
}

.benefits ul {
    list-style-type: square;
    margin-left: 20px;
}

.contact form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact label {
    font-weight: bold;
}

.contact input, .contact textarea {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 100%;
}

.contact button {
    padding: 10px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact button:hover {
    background-color: #000000;
}

footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 15px;
}

footer p {
    margin: 5px 0;
}